@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 12px;
}

.App {
  padding: 15px;
  padding-top: 0px;
  font-family: 'IBM Plex Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  outline-color: #ffae18;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 20px;
  padding: 15px;
  padding-left: 5px;
  font-weight: bold;
  width: 100%;
}

.views__view {
  border: 3px solid #ddd;
  border-radius: 5px;
  height: 406px;
  background: #f3f3f3;
}

.views__view__header {
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  height: 27px;
  background: #ffffff;
}

.views__view__body {
  height: 374px;
  overflow-y: scroll;
}

.views__view__body::-webkit-scrollbar {
  width: 3px;
}

.views__view__body::-webkit-scrollbar-track {
  background: rgba(255, 174, 24, 0.0);
}

.views__view__body::-webkit-scrollbar-thumb {
  background: #ffae18;
}

.views__view__body::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.views__view__command {
  height: 30px;
}

.views__view__command textarea {
  border: none;
  display: block;
  height: 100%;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  width: 100%;
  resize: none;
  white-space: nowrap;
}

.views__view__steps {
}

.views__view__step__header {
  padding: 5px;
  padding-left: 10px;
  background: #fff;
  border-bottom: 3px solid #eee;
  font-weight: bold;
  height: 30px;
}

.views__view__header a {
  color: #dddddd;
}

.views__view__header--active a {
  color: #ffae18;
}

.views__view__step__header a {
  color: #dddddd;
}

.views__view__step--active .views__view__step__header a {
  color: #ffae18;
}

/*.views__view__step__header:nth-child(1) {*/
/*  border-top: none;*/
/*}*/

.views__view__output {
  resize: none;
  height: 100%;
  display: block;
  padding: 8px;
  min-height: 28px;
  padding-left: 10px;
  font-weight: bold;
  width: 100%;
  white-space: pre-line;

  border: solid 0px #ffae18;
}

.views__view__output--highlight {
  border: solid 3px #f3f3f3;
  padding: 2px;
  /*padding-left: 5px;*/
  transition: border-color 1s ease;
}

.views__view__header__name {
  float: left;
}

.views__view__header__loader {
  float: left;
  padding-right: 5px;
  padding-top: 2px;
}

.loader01 {
  width: 14px;
  height: 14px;
  border: 2px solid #ffae18;
  border-right-color: transparent;
  border-radius: 50%;
  animation: loader-rotate 1s linear infinite;}

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.views__view__header__raw {
  float: right;
}

.view__env {
  float: right;
}

.view__env__input {
  padding-left: 5px;
  height: 27px;
  margin-top: -5px;
  border: none;
  border-top: 0;
  border-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  width: 80px;
  background: #ffeac4;
}

.view__env__input:disabled {
  background: #afafaf;
}

.view__env__input:focus {
  width: 150px;
}

.ant-message-error .anticon {
  color: #ffae18;
}

.ant-message-notice-content {
  font-size: 12px;
  box-shadow: none;
  border: 3px solid #ddd;
  border-radius: 5px;
}

