@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
}

html, body, #root, .App
{
  height: 100%;
  min-height: 100%;
}

.App {
  padding: 15px;
  padding-top: 96px;
  margin-bottom: 30px;
  font-family: 'IBM Plex Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a:hover {
  color: currentColor;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 20px;
  padding: 15px;
  padding-left: 25px;
  font-weight: bold;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0 -20px 25px #888888;
  -moz-box-shadow: 0 -20px 25px #888888;
  box-shadow: 0 -20px 25px #888888;
}

.header__category__category {
  font-size: 14px;
  font-weight: bold;
}

.header__categories__category--selected, .header__categories__category--selected a:hover {
  display: none;
}

.views__view {
  /*border: 3px solid #ddd;*/
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
  border-radius: 10px;
  height: 406px;
  background: #fff;
}

.views__view__header {
  padding: 5px;
  padding-left: 10px;
  padding-top: 8px;
  font-weight: bold;
  color: #777;
  font-size: 13px;
  height: 30px;
  background: #ffffff;
}

.views__view__step--disabled a, .views__view__step--disabled a:hover {
  color: #ddd;
  pointer-events: none;
}

.views__view__body {
  height: 374px;
  overflow-y: scroll;
}

.views__view__body::-webkit-scrollbar {
  width: 3px;
}

.views__view__body::-webkit-scrollbar-track {
  background: rgba(255, 174, 24, 0.0);
}

.views__view__body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 174, 24, 0.0);
}

.views__view__command {
  height: 30px;
}

.views__view__command textarea {
  border: none;
  display: block;
  height: 100%;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  width: 100%;
  resize: none;
  white-space: nowrap;
}

.views__view__steps {
}

.views__view__step__header {
  padding: 5px;
  padding-left: 10px;
  background: #fff;
  font-weight: bold;
  height: 30px;
}

.views__view__header a {
  color: #dddddd;
}

.views__view__step__header:nth-child(1) {
  height: 31px;
  padding-top: 6px;
}

.views__view__output {
  white-space: pre;
  resize: none;
  height: 100%;
  display: block;
  min-height: 28px;
  padding-left: 5px;
  font-weight: bold;
  width: 100%;
  border: 5px solid #fff;
}

.views__view__header__name {
  float: left;
}

.views__view__header__loader {
  float: left;
  padding-right: 5px;
  padding-top: 2px;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.views__view__header__raw {
  float: right;
}

.view__env {
  float: right;
}

.view__env__input {
  padding-left: 5px;
  height: 27px;
  margin-top: -5px;
  border: none;
  border-top: 0;
  border-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  width: 80px;
}

.view__env__input:disabled {
  background: #ddd;
}

.view__env__input:focus {
  width: 150px;
  z-index: 1;
  position: relative;
}

.ant-message-error .anticon {
  color: #ffae18;
}

.ant-message-notice-content {
  font-size: 12px;
  box-shadow: none;
  border: 3px solid #ddd;
  border-radius: 5px;
}

